<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section class="description">
      <p>{{ .Site.Params.descriptionlongue }}</p>
    </section>
    <section class="lien">
      <p>Lien vers la visioconférence :<br><a href="{{ .Site.Params.visio }}">{{ .Site.Params.visio }}</a></p>
    </section>
    <section>
      <h3>Séance 1 — Samedi 12 mars 2022</h3>
      <ul class="posts">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
          {{ if isset .Params "invisible" }}
          {{ else }}
          {{ if ne .Kind "section" }}
          {{ if eq .Params.seance 1 }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
            <hr>
           <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
      <hr>
    <section>
      <h3>Séance 2 — Samedi 26 mars 2022</h3>
      <ul class="posts">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
          {{ if isset .Params "invisible" }}
          {{ else }}
          {{ if ne .Kind "section" }}
          {{ if eq .Params.seance 2 }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
            <hr>
            <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
          </li>
          {{ end }}
          {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
